body{
  font-family:'Raleway', sans-serif;
  background-color:#010103;

  color:var(--text-color)
}

*{
  margin: 0;
  
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}


body,
button,
input,
textarea{
  font-family:'Raleway', sans-serif; 
 
}

h1{
  color: var(--text-color);
  font-weight: semibold;
}

ul{
  list-style: none;
}
a{
text-decoration: none;
cursor: pointer;
}

button{
  cursor: pointer;
  outline: none;
 
}